<h1>Appointments Demo</h1>

<br/>

<h2>Calendars</h2>
<% @calendars.each do |calendar| %>
    <ul>
        <li>ID:<%= calendar.id %> (<%= calendar.interval %> interval)</li>
    </ul>
<% end %>

<div><h2>Availability</h2> <span>Define when appointments can be scheduled based off of Calendar interval time.</span></div>
<% @availabilities.each do |a| %>
    <ul>
        <li><%= a.start_time %> -> <%= a.end_time %></li>
    </ul>
<% end %>
<%= link_to "Add Availability", new_availability_path %>


<div><h2>Appointments</h2> <span>Every booked appointment</span></div>
<% @appointments.each do |appt| %>
    <ul>
        <li><%= appt.start_time %></li>
    </ul>
<% end %>

<div><h2>Forms</h2>  <span>In order to book appointment, you must submit a form</span></div>
<% @forms.each do |form| %>
    <div>
        <h4>Name: <%= form.name %></h4>
        <p>Entries:</p>
        <ul>
        <% form.form_entries.each do |entry| %>
            <li><%= entry.name %> - <%= entry.phone %> - <%= entry.email %> - <%= entry.appointments.first.start_time %></li>
        <% end %>
        </ul>
    </div>
<% end %>



  <div style="max-width: 75%; margin-top: 2rem;">
  <%= month_calendar(events: @appointments) do |date, appointments| %>
    <%= date.day %>

    <% appointments.each do |appointment| %>
      <div style="color: #FFC; padding: 4px; background-color: #64a1d1; margin-bottom:1px;">
      <% if appointment.check_availability %>
        <%= appointment.id %> - <%= appointment.start_time.strftime("%I:%M%p") %>
      <% else %>
        Booked - <%= appointment.start_time.strftime("%I:%M%p") %>
      <% end%>
      </div>
    <% end %>
  <% end %>
  </div>