<%= form_for [@form, form_entry] do |form| %>
  <% if form_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_entry.errors.count, "error") %> prohibited this form_entry from being saved:</h2>

      <ul>
        <% form_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="max-w-lg py-8">
    <div class="space-y-2">
      <div>  
        <p>You are on <%= @form.name %></p>
        <p>You are on Calendar: <%= @form.calendars.first.name %></p>
      </div>
      <div class="relative block">
        <%= form.text_field :name, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-blue-500 focus:shadow-outline", placeholder: true %>
      </div>

      <div class="relative block">
        <%= form.text_field :email, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-blue-500 focus:shadow-outline", placeholder: true %>
      </div>

      <div class="relative block">
        <%= form.text_field :phone, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-blue-500 focus:shadow-outline", placeholder: true %>
      </div>
    </div>
  </div>

  <div data-controller="book-appointment">

    <div>
      <%= form.fields_for :appointments do |f| %>
        <h3 class="text-md font-semibold">Book an Appointment Time</h3>
        <div class="field">
          <%= f.label :start_time %>
          <%= f.datetime_select :start_time %>
        </div>
        <div class="field">
          <%= f.label :end_time %>
          <%= f.datetime_select :end_time %>
        </div>
        <div class="field">
          <%= f.number_field :calendar_id, value: @form.calendars.first.id %>
        </div>
      <% end %>
    </div>
    
    <% if @availabilities.present? %>
    <% if @avail.present? %>
    <div class="max-w-7xl">
      <h2 class="text-lg font-bold">Availabilities this Week</h2> 
      <div class="relative block space-y-3 grid grid-cols-4 gap-4">
        <% @avail.each do |a| %>
          <div>
            <p class="text-xs"><%= local_time(a.start_time) %> -> <%= local_time(a.end_time) %></p>
            <% a.list_slots.each do |slot| %>
                <span class="relative block w-auto bg-green-300 rounded-md shadow px-4 py-3 cursor-pointer hover:bg-green-100" data-book-appointment-target="slot" data-action="click->book-appointment#fire"><%= slot[:time] %></span>
          <% end %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <% else %>
    <p>There are no available times to book.</p>
    <% end %>

  </div>

  

  <div class="actions">
    <%= form.submit "Submit Form", class: 'btn-primary' %>
  </div>
<% end %>
