<%= form_for [@form, form_entry] do |form| %>
  <% if form_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_entry.errors.count, "error") %> prohibited this form_entry from being saved:</h2>

      <ul>
        <% form_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="max-w-lg py-8">
    <div class="space-y-2">
      <div>  
        <p>You are on <%= @form.name %></p>
        <p>You are on Calendar: <%= @form.calendars.first.name %></p>
      </div>
      <div class="relative block">
        <%= form.text_field :name, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-blue-500 focus:shadow-outline", placeholder: true %>
      </div>

      <div class="relative block">
        <%= form.text_field :email, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-blue-500 focus:shadow-outline", placeholder: true %>
      </div>

      <div class="relative block">
        <%= form.text_field :phone, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-blue-500 focus:shadow-outline", placeholder: true %>
      </div>
    </div>
  </div>

  <div data-controller="book-appointment">

    <div class="space-y-2 border border-gray-300 p-2 mb-5">
      <%= form.fields_for :appointments do |f| %>
        <h3 class="text-md font-semibold">Book an Appointment Time</h3>
        <p>These would normally be hidden fields that hold input data, but show that Stimulus injects into the fields</p>
        <div class="field">
          <%= f.label :start_time %>
          <%= f.text_field :start_time, class: 'border border-gray-300', data: { "book-appointment-target": "start"} %>
        </div>
        <div class="field">
          <%= f.label :end_time %>
          <%= f.text_field :end_time, class: 'border border-gray-300', data: { "book-appointment-target": "end"}  %>
        </div>
        <div class="field">
          <%= f.label :calendar_id %>
          <%= f.number_field :calendar_id, value: @form.calendars.first.id, class: 'border border-gray-300' %>
        </div>
      <% end %>
    </div>
    
    <% if @availabilities.present? %>
    <% if @avail.present? %>
    <div class="max-w-7xl">
      <h2 class="text-lg font-bold">Availabilities this Week</h2> 
      <div class="relative block space-y-3 grid grid-cols-2 xl:grid-cols-4 gap-4">
        <% @avail.each do |a| %>
          <div class="h-72 overflow-y-scroll w-auto p-2 border border-gray-300 rounded-xl">
            <p class="text-xl mb-3"><%= a.start_time.strftime('%B %e') %></p>
            <% a.list_slots.each do |slot| %>
                <%= tag.span id: dom_id(a, :slot), class: "relative block w-auto bg-green-300 rounded-md shadow px-4 py-3 cursor-pointer hover:bg-green-100 mb-2", data: {
                  "book-appointment-target": "slot", action: "click->book-appointment#fire", start_time: slot[:start_time], end_time: slot[:end_time] } do %>
                  <%= local_time(slot[:start_time]) %>
                <% end %>
          <% end %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <% else %>
    <p>There are no available times to book.</p>
    <% end %>

  </div>

  

  <div class="actions">
    <%= form.submit "Submit Form", class: 'btn-primary' %>
  </div>
<% end %>
