<div class="container p-4">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form_entry.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @form_entry.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @form_entry.phone %>
</p>

<p>
  <strong>Form:</strong>
  <%= @form_entry.form_id %>
</p>

<div class="mt-4">
<%= link_to 'Back to Main', root_path, class: 'btn-primary' %>
</div>
</div>